<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>About Me</title>
  </head>
  <body>
    <nav id=navBar>
      <a href="/">Home</a>
      <a href="/about">About Me</a>
    </nav>
    <div class="parallax"><h1 class="body-h1">About Me</h1></div>

    <p class="d1-title">A Few Quick Points About Myself</p>

    <div class="div2-btngrp1">
      <button class="btngrp1" id="btnShow">Click To Hide Text</button>
    </div>

    <div class="d1" id="d1">
      <ul class="d1Ul" id="d1Ul">
        <li><span class="bulletPointSpace">I am from Lima, Peru. i was adopted when I was 6 months old and have lived in Saint Louis my whole life</span></li><br>
        <li><span class="bulletPointSpace">I used to work at an Italian restaurant for around two years as a server</span></li><br>
        <li><span class="bulletPointSpace">I like to chill with my girlfriend Ariel</span></li><br>
        <li><span class="bulletPointSpace">If the weather is nice we usually go hiking with my dog, Kail</span></li><br>
        <li><span class="bulletPointSpace">Kali is a two year old Chocolate Lab Shephard Mix</span></li><br>
        <li><span class="bulletPointSpace">Interesting fact, I am an animal lover</span></li><br>
        <li><span class="bulletPointSpace">Eveyone jokes that I have a small zoo: Dog, Hamster, Rabbit, Leopard Gecko, Bearded Dragon</span></li><br>
        <li><span class="bulletPointSpace">I found out about Fusion from a friend who worked in with the digital team, Bilal.</span></li><br>
        <li><span class="bulletPointSpace">We went to Saint Louis Community College at the same time</span></li><br>
        <li><span class="bulletPointSpace">We ended up taking Java I, II, and III together</span></li><br>
      </ul>
    </div>
  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="JS/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="JS/scripts.js"></script>
</html>
