.box{
  background-image: url('../img/greyImg.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  color: white;

}

#navBar{
  position: fixed;
  width: 100%;
  height: 5%;
  background-color: #333333;
  text-align: center;
  top: 0;
  left: 0;
}

#navBar a{
  color: white;
  font-size: 35px;
  text-decoration: none;
  margin: auto 3% 3% auto;
}

#navBar a:hover{
  color: lightblue;
}

.box__parallax{
  background-image: url('../Img/Img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  text-align: center;
}

.box__parallax__header{
  text-align: center;
  padding: 10%;;
  font-size: 50px;
}
.box__header{
  text-align: center;
  font-size: 45px;
  margin: 5% auto
}

.box__btn{
  text-align: center;
}

.btn{
  width: 15%;
  font-size: 30px;
}

.box__contents{
  font-size: 35px;
  margin: 5% auto auto 8%;
}

.box__contents__li{
  margin-left: 2%;
}
