/******************** GENERAL ********************/

/******************** HEADER ********************/

/******************** MAIN ********************/
#main{
  background: white url('../img/greyImg.jpg') no-repeat center center;
  background-size: cover;
}

#content {
  margin: 20px auto;
  width: 90%;
  font-size: 14px;
  text-indent: 3%;
  color: white;
}

.content__text {
  float: left;
  margin-bottom: 100px;
  max-width: 90%;
}

@media screen and (min-width: 768px) {

  #content {
    margin: 0 auto;
    max-width: 90%;
    font-size: 18px;
  }

}

@media screen and (min-width: 992px) {

  #content {
    font-size: 20px;
  }

}



/******************** FOOTER ********************/
