/******************** GENERAL ********************/
#body{
  position: relative;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', helvetica;
}

/******************** HEADER ********************/

/******************** MAIN ********************/
#header{
  background: grey url('../img/bgImg.jpg') no-repeat center center;
  background-size: cover;
  color: white;
}

#header__content{
  margin: 3% auto;
  text-align: center;
}

#header__img{
  height: 200px;
  max-width: 200px;
  background: grey url('http://via.placeholder.com/200x200') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}


/******************** MAIN ********************/
#main{
  flex: 1 0 auto;
}

#projects{
  text-align: center;
  margin: 20px auto;
  width: 90%;
}


.project__img{
  background: grey no-repeat center center;
  background-size: cover;
  display: flex;
  height: 90vw;
  margin-bottom: 100px;
  max-width: 300px;
  max-height: 300px;
}

.project a {
  color: black;
  transition: all 0.7s ease;
  text-decoration: none;
}

.project a:hover {
  color: #47d147;
  font-size: 35px;

}

@media screen and (min-width: 768px) {

  #projects {
      max-width: 600px;
  }

  .project {
    float: left;
    width: 50%;
  }

  .project__img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {

  #projects {
    max-width: 900px;
  }
  .project{
    width: 33%;
  }

}
/******************** FOOTER ********************/
