body{
  background-image: url("../img/bgImg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}

/*nav bar*/
#navBar{
  background-color: #333333;
	opacity: 0.8;
	overflow: left;
	position: fixed;
  top: 0px;
	width: 100%;

}

#navBar a{
  color: white;
  font-size: 38px;
  font-weight: bold;
  display: block;
  float: left;
  text-align: center;
  text-decoration: none;
  margin-left: 35px;
}

#navBar a:hover{
  color:  #cccccc;
  opacity: 0.9;
}


.mainHeader{
  text-align: center;
  font-size: 60px;
  text-shadow: 5px 2px 3px #333333;
  color: #e6e600;

}

.headerName{
  text-align: center;

  font-size: 50px;
  text-shadow: 5px 2px 3px #333333;
  color: #e6e600;
}

.d1{
  padding-top: 40px;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 35px;
  color: #e6e600;
  display: block;
  line-height: 1.6;

}
