/******************** GENERAL ********************/
.box{
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  overflow-y: auto;
}

#body{
  position: relative;
  min-height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', helvetica;
}


/******************** NAV ********************/

#navBar {
  color: black;
  position: relative;
  opacity: 0.9;
}


#nav__desktop {
  display: none;
}

#nav__mobile{
  color: black;
  font-size: 20px;
  position: fixed;

}

#nav__mobile-options{
  color: white;
  transition: all 0.5 ease;
  font-size: 25px;
}

#nav__mobile-options  a{
  color: white;
  text-decoration: none;
  display: block;
  margin: 10% 3%;
}

#nav__mobile-options a:hover{
  font-size: 35px;
  font-family: bold;

}

#closeSlider {
  margin: auto 80%;
}

#closeSlider:hover {
  color: red;
  font-size: 30px;
}

#navSlider:hover{
  color: purple;
}

#nav__mobile-options {
  position: fixed;
  z-index: 10000;
  width: 0;
  height: 100vh;
  background-color: #333333;
  transition:
}

#nav__mobile-options.mobile-options--open {
  width: 55%;
}

@media screen and (min-width: 786px) {

  #nav__mobile {
    display: none;
  }

  #nav__desktop {
    display: block;
    background: white;
    position: fixed;
    text-align: center;
    margin: auto;
    font-size: 25px;
  }

  #nav__desktop a{
    text-decoration: none;
    color: black;
    transition: all 0.4 ease;
    margin: auto 5%;
  }

  #nav__desktop a:hover {
    font-weight: bold;
  }

}

/******************** HEADER ********************/

#header{
  background: grey url('../img/header_bg.jpg') no-repeat center center;
  background-size: cover;
  color: black;
}

#header__content{
  margin: 3% auto;
  text-align: center;
}

#header__img{
  height: 200px;
  max-width: 200px;
  background: grey url('http://via.placeholder.com/200x200') no-repeat center center;
  background-size: cover;
  border-radius: 50%;
}


/******************** MAIN ********************/
#main{
  flex: 1 0 auto;
  background: grey url('../img/bg_main.jpg') no-repeat center center;
  background-size: cover;
}

#projects{
  text-align: center;
  margin: 0 auto;
  width: 90%;
}

.project__img{
  background: grey no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  height: 90vw;
  margin-bottom: 100px;
  max-width: 300px;
  max-height: 300px;
}

.project a {
  color: black;
  transition: all 0.7s ease;
  text-decoration: none;
}

.project a:hover {
  color: #47d147;
  font-size: 35px;

}

@media screen and (min-width: 768px) {

  #navOpen{
    display: none;
  }

  #projects {
      max-width: 600px;
  }

  .project {
    float: left;
    width: 50%;
  }

  .project__img {
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {

  #projects {
    max-width: 900px;
  }

  .project{
    width: 33%;
  }

}


/******************** FOOTER ********************/

#footer{
  text-align: center;
  background-color: grey;
  position: relative;
  color: black;
}

#footer a{
  text-decoration: none;
  color: white;
  transition: all 0.5s ease;
}

#footer a:hover{
  color: red;
}
