<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ben Hampton | About Me</title>
  <base href="/">

  <!--Recommended Meta Tags-->
  <meta charset="utf-8">
  <meta name="language" content="english">
  <meta http-equiv="content-type" content="text/html">
  <meta name="author" content="Ben Hampton">
  <meta name="designer" content="Ben Hampton">
  <meta name="publisher" content="Ben Hampton">
  <meta name="no-email-collection" content="http://www.unspam.com/noemailcollection/">

  <!--Search Engine Optimization Meta Tags-->
  <meta name="description" content=" -- TO DO -- Description for seach engines">
  <meta name="keywords" content=" Key Words for search engines">
  <meta name=”robots” content=”index,follow”>
  <meta name="revisit-after" content="7 days">
  <meta name="distribution" content="web">

  <!--Optional Meta Tags-->
  <meta name="web_author" content="Ben Hampton">
  <meta name="subject" content="Personal">
  <meta name="title" content="Ben Hampton | Web Applications Developer">
  <meta name="copyright" content="Copyright 2018">
  <meta name="reply-to" content="benhampton11@yahoo.com">
  <meta name="abstract" content="-- TO DO -- Description for seach engines">
  <meta name=”city” content="St. Louis">
  <meta name=”country” content="USA">
  <meta name="distribution" content="global">
  <meta name="classification" content="-- TO DO -- Description for seach engines">

  <!--Meta Tags for HTML pages on Mobile-->
  <meta name="format-detection" content="telephone=yes"/>
  <meta name="HandheldFriendly" content="true"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--http-equiv Tags-->
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">

  <!-- link rel="icon" type="image/x-icon" href="favicon.ico"-->

    <!-- script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-112510478-1', 'auto');
    </script-->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/about.css">
</head>
<body id="body" class="box">

  <header id="header" class="box">

    <nav id="navBar">

      <div id="nav__mobile-options" class="box">
        <a href="/" onclick="toggleMobileNav()">Home</a>
        <a href="/about" onclick="toggleMobileNav()">About</a>
        <a href="/#projects" onclick="toggleMobileNav()">Projects</a>
        <br />
        <h4 class="closeNav" onclick="toggleMobileNav()">close</h4>
      </div>

      <div id="nav__mobile" class="box">
        <h4 id="navSlider" onclick="toggleMobileNav()" class="box">Open</h4>
      </div>

      <div id="nav__desktop" class="box">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/#projects">Projects</a>
      </div>

    </nav>


    <div class="box" id="header__content">
      <h1>A Few Quick Points About Myself</h1>
    </div>
  </header>


  <main id="main" class="box">
    <div class="box" id="content">
        <div class="box content__text">
          <h1>Education:</h1>
          <ul>
            I attended Saint Louis Community College (STLCC), and have an Associate Degree for Software Develpment with a focus in JAVA programming.
            While achiving my degree i have taken classes in Java I,II,III, HTLM/CSS, JavaScript, and JAVA Spring. I have takens a few Database classes mainly using
            SQL Server. Originally I was thinking about going to college for a Networking or Securitly degree. After I talked to my professor about which road to go down, she
            mentioned that I look into programming. There was a programming class required for both Securitly and Networking and after I stated my first JAVA class I never looked back.
            Changed my degree to Software Development and started wokring with JAVA.
          </ul>

          <h1>Work Background:</h1>
          <ul>
              I started working for Bayer's Garden Nursery and
              they aloud us to take on clients for landscaping after work. Alvero (manager) and I started a landscaping business called "Ben & Alvero's Landscaping",
              in which we would make Bayer's customers becom our clients and in doing so regualrs at Bayer's.</p>
          </ul>

            <ul>
                I have woked as a server for about 5 years. I started off working for a mexican restaurant, El Maguey. I worked there for about 3 years starting off as a bus boy and being
                prompted to server, so i could get a feel for how a restaurant worked. After about 3 years I persoally felt I was the best server there for about a year and i started
                applying for a higher end restaurant.<br />
            </ul>
            <ul>
                I had the oppurtunity to work for an Italian restaurant called Trattoria Toscasn. Coming from a mexican restaurant to italian wasn't too
                difficult. I found who I thought the best server there was and asked him questions daily from how to pour/describe wine proporly to commiunication by detailing "daily specials"
                and how to present myself so could be a proffessional server. </p>
            </ul>
           <h1>Personal:</h1>
           <ul>
             I was bron in Peru and was adoptted when i was 6 months old, I have lived in Saint Louis ever since. I like to hang out with my girlfriend, Ariel, on our free time we
             like to go hiking with our dog, Kali. We rescued her a shelter when she was eight months old, she is a cholcolate lab shepard mix. I am a die hard Seattle Seahawks fan and enjoy bbq
             with some friends on Sundays while watching Sunday NFL Football.
           </ul>
         </div>
  </main>


  <footer id="footer" class="box">
    <h2>Website Designed by: Ben Hampton</h2>
    <a href="mailto:benhampton11@yahoo.com">
      <h4>Email Me</h4>
    </a>
  </footer>

<script src="/js/home.js" type="text/javascript"></script>
</body>
</html>
