<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ben Hampton</title>
      <link rel="stylesheet" type="text/css" href="/css/index.css">
  </head>
  <body class="box">
    <nav id="navBar" class="navBar__box">
      <a href="/">Home</a>
      <a href="/about">About Me</a>
    </nav>
      <div class="box__header">
      <h1>My name is<h1>
        <h2>Ben Hampton</h2>
      </div>
        <div class="box__contents">
          <p>
          I’m going to school at Saint Louis Community College.
          I have experience with HTML, CSS, JavaScript, JAVA, Spring, SQL Server and MYSQL.
          I will receive a degree for Software Development at the end of the summer.
          I have always liked computer science, and after I took my first programming course I never looked back.
          When it comes to fun I am a I die hard Seattle Seahawks fan. On Sundays it’s fun getting together with some friends and barbequing and watching the game.
           I’m looking forward to the summer internship with the digital team. I’m excited to work with both the B2B and B2C teams!
          <br>
          </p>
        </div>
  </body>
</html>
